.about{
    font-family: 'Raleway', sans-serif;
    padding-bottom: 48px;
}
.about-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.picture{
    height: 420px;
}
.about-info{
    font-size: 30px;

}
.info-name{
    font-weight:800;
    color: blueviolet;
    font-size: 32px;
}
.intro{
    font-size: 32px;
}
.intro-p{
    font-size: 20px;
}
.connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.free{
    font-size: 20px;
}
.highlight{
    color: blueviolet;
}
.btn{
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: blueviolet;
    border: 2px solid blueviolet;
    width: 150px;
    height: 50px;
    line-height: 50px;
    letter-spacing: .12em;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}
.btn:hover{
    color: white;
    border: 2px solid blueviolet;
    background-color: blueviolet;
}
@media only screen and (max-width: 720px){
    .about-top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .picture{
        height: 280px;
    }
    .about-info{
        font-size: 20px;
    }
    .info-name{
        font-size: 26px;
    }
    .intro{
        text-align: center;
        font-size: 32px;
    }
}
    